body.yellow {
    font-family: monospace;
}

body.yellow header {
    background: yellow;
}

body.red {
    font-family: sans-serif;
}

body.red header {
    background: red;
}

body {
    font-family: serif;
}

body header {
    background: blue;
}

body {
    margin: 0;
}

header, main, footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 1em;
    padding: 2em 0;
}

.about, .steps, .content {
    grid-column: 2 / span 4;
}

nav {
    position: sticky;
    top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

nav a {
    margin-right: 1em;
    color: gray;
    text-decoration-thickness: 3px;
    text-underline-position: below;
    text-decoration-skip: none; 
    margin-bottom: 1em;
}

h3 {
    padding: 2em 0 8em;
}

@media screen and (min-width:640px) {

    nav {
        flex-direction: column;
    }

    .steps {
        grid-column: 2 / span 1;
    }

    .content {
        grid-column: 3 / span 3;
    }

}